.container-wrapper {
  display: flex;
  height: 100vh;  /* full viewport height */
  width: 100vw;
  overflow: hidden;
}



app-map {
  flex-grow: 1;   /* map takes the remaining space */
  height: 100%;
  z-index: 0;
}

.title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 15px;
}

.label {
  font-weight: 600;
  margin-top: 10px;
  display: block;
}