

@font-face {
  font-family: 'roboto-flex';
  src: url('/fonts/RobotoFlex.ttf') format('truetype');
  font-weight: 100 1000; 
  font-style: normal;
  font-display: swap;
}
:root {
  font-family: 'roboto-flex', sans-serif;
}

body {
  font-family: 'roboto-flex', sans-serif !important;
}