.message-overlay {
  background: rgba(0, 0, 0, 0.75);
  inset: 0;
  display: flex !important;
  justify-content: center;
  align-items: center;
  animation: fadeIn 0.25s ease forwards;
}

.message-box {
  width: 25%;
  background: white;
  padding: 2rem 1rem;
  border-radius: 1rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 1rem;
  animation: scaleIn 0.3s ease forwards;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes scaleIn {
  0% { transform: scale(0.7); opacity: 0; }
  100% { transform: scale(1); opacity: 1; }
}
